In [44]:
import pandas as pd
import numpy as np

In [62]:
data = pd.read_csv('austin_traffic.csv')
weather_data = pd.read_csv('weather_72254.csv')

Code	Meaning
- TEMP : Air Temperature
- TAVG : Average Temperature
- TMIN : Minimum Temperature
- TMAX : Maximum Temperature
- DWPT : Dew Point
- PRCP : Total Precipitation
- WDIR : Wind (From) Direction
- WSPD : Average Wind Speed
- WPGT : Wind Peak Gust
- RHUM : Relative Humidity
- PRES : Sea-Level Air Pressure
- SNOW : Snow Depth
- TSUN : Total Sunshine Duration
- COCO : Weather Condition Code

In [63]:
data.head()

,Road Name,Month,Day,Year,Hour,Day of Week,Holiday,Direction,Speed,Volume,Full Date
0,BURNET,9,7,2021,23,2,0,NB,42.0,181.0,2021-09-07 23:00:00
1,BURNET,9,7,2021,23,2,0,SB,44.0,112.0,2021-09-07 23:00:00
2,BURNET,9,7,2021,22,2,0,NB,41.0,259.0,2021-09-07 22:00:00
3,BURNET,9,7,2021,22,2,0,SB,43.0,218.0,2021-09-07 22:00:00
4,BURNET,9,7,2021,21,2,0,NB,41.0,383.0,2021-09-07 21:00:00

In [64]:
weather_data.head()

      date  tavg  tmin  tmax  prcp  snow  wspd    pres
0  6/18/17  30.6  25.6  37.8   0.0     0  11.5  1006.9
1  6/19/17  27.8  24.4  33.3   0.3     0   6.1  1012.2
2  6/20/17  29.9  24.4  36.7   0.0     0   8.3  1013.1
3  6/21/17  29.9  23.9  36.1   0.0     0   9.4  1009.0
4  6/22/17  30.1  24.4  37.2   0.0     0   7.9  1004.5

In [65]:
# print the range of dates in the dataset
print(data['Full Date'].min())
print(data['Full Date'].max())

2017-06-18 00:00:00
2021-09-07 23:00:00

In [66]:
# Merge weather data into traffic data
data['date'] = pd.to_datetime(data['Full Date']).dt.strftime('%-m/%-d/%y')

# print date in data frame
data.head()

,Road Name,Month,Day,Year,Hour,Day of Week,Holiday,Direction,Speed,Volume,Full Date,date
0,BURNET,9,7,2021,23,2,0,NB,42.0,181.0,2021-09-07 23:00:00,9/7/21
1,BURNET,9,7,2021,23,2,0,SB,44.0,112.0,2021-09-07 23:00:00,9/7/21
2,BURNET,9,7,2021,22,2,0,NB,41.0,259.0,2021-09-07 22:00:00,9/7/21
3,BURNET,9,7,2021,22,2,0,SB,43.0,218.0,2021-09-07 22:00:00,9/7/21
4,BURNET,9,7,2021,21,2,0,NB,41.0,383.0,2021-09-07 21:00:00,9/7/21

In [67]:
weather_data['date'] = pd.to_datetime(weather_data['date']).dt.strftime('%-m/%-d/%y') 
weather_data.head()

/var/folders/3k/8wtd1nfx1bz0fg5qcr45t3yw0000gn/T/ipykernel_89360/1778860546.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  weather_data['date'] = pd.to_datetime(weather_data['date']).dt.strftime('%-m/%-d/%y')

      date  tavg  tmin  tmax  prcp  snow  wspd    pres
0  6/18/17  30.6  25.6  37.8   0.0     0  11.5  1006.9
1  6/19/17  27.8  24.4  33.3   0.3     0   6.1  1012.2
2  6/20/17  29.9  24.4  36.7   0.0     0   8.3  1013.1
3  6/21/17  29.9  23.9  36.1   0.0     0   9.4  1009.0
4  6/22/17  30.1  24.4  37.2   0.0     0   7.9  1004.5

In [68]:
merged_data = data.merge(weather_data, on='date', how='left')
merged_data.head()

,Road Name,Month,Day,Year,Hour,Day of Week,Holiday,Direction,Speed,Volume,Full Date,date,tavg,tmin,tmax,prcp,snow,wspd,pres
0,BURNET,9,7,2021,23,2,0,NB,42.0,181.0,2021-09-07 23:00:00,9/7/21,28.4,22.2,36.1,0.0,0,2.5,1012.4
1,BURNET,9,7,2021,23,2,0,SB,44.0,112.0,2021-09-07 23:00:00,9/7/21,28.4,22.2,36.1,0.0,0,2.5,1012.4
2,BURNET,9,7,2021,22,2,0,NB,41.0,259.0,2021-09-07 22:00:00,9/7/21,28.4,22.2,36.1,0.0,0,2.5,1012.4
3,BURNET,9,7,2021,22,2,0,SB,43.0,218.0,2021-09-07 22:00:00,9/7/21,28.4,22.2,36.1,0.0,0,2.5,1012.4
4,BURNET,9,7,2021,21,2,0,NB,41.0,383.0,2021-09-07 21:00:00,9/7/21,28.4,22.2,36.1,0.0,0,2.5,1012.4

In [52]:
# export merged data to csv
#merged_data.to_csv('traffic_weather.csv', index=False)

In [69]:
# get null values
merged_data.isnull().sum()

Road Name          0
Month              0
Day                0
Year               0
Hour               0
Day of Week        0
Holiday            0
Direction          0
Speed          39624
Volume             0
Full Date          0
date               0
tavg             384
tmin               0
tmax               0
prcp               0
snow               0
wspd               0
pres            4224
dtype: int64

In [70]:
len(merged_data)

247680

In [72]:
# drop the tsun column and wpgt column
merged_data.drop(['pres'], axis=1, inplace=True)

In [73]:
merged_data.isnull().sum()

Road Name          0
Month              0
Day                0
Year               0
Hour               0
Day of Week        0
Holiday            0
Direction          0
Speed          39624
Volume             0
Full Date          0
date               0
tavg             384
tmin               0
tmax               0
prcp               0
snow               0
wspd               0
dtype: int64

In [74]:
len(merged_data)

247680

In [75]:
data = merged_data.dropna()

In [76]:
data.isnull().sum()

Road Name      0
Month          0
Day            0
Year           0
Hour           0
Day of Week    0
Holiday        0
Direction      0
Speed          0
Volume         0
Full Date      0
date           0
tavg           0
tmin           0
tmax           0
prcp           0
snow           0
wspd           0
dtype: int64

In [77]:
len(data)

207672

In [78]:
# export merged data to csv
data.to_csv('traffic_weather.csv', index=False)